---
layout: layouts/base.njk
title: Home
description: "This is a tutorial demostrating how to make simple charts with chart.css."
---

<p>This is a tutorial demostrating how to make simple charts with <code>chart.css</code> library. Vist the <a href="/chart/">chart</a> page to see the result.</p>
