<header class="site-header">
  <a class="home" href="/" aria-label="Go to home page">11ty Demo Site</a>
  <nav aria-label="Main navigation">
    <ul role="list">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/other-writing">Other Writing</a></li>
    </ul>
  </nav>
</header>
