---
layout: layouts/base.njk
title: Home page
---

<p>This is a demo showiing how to use a CSV file as a data file. Visit the <a href="reading/">reading</a> page to see the books I am reading which are sourced from <em>reading.csv</em>.</p>
