---
layout: layouts/base.njk
title: Blog
permalink: /blog/
description: "This is a collection of posts from here and elsewhere."
---

<section class="blog">
		<ol>
		{% for post in collections.posts %}
			<li class="post">
				<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
				<span>|</span>
				<time>{{ post.date | simpleDate }}</time>
			</li>
		{% endfor %}
		</ol>
	
</section>
