---
layout: layouts/base.njk
title: Home
description: "This is a tutorial demostrating how to make simple graphs with chart.css."
---

<p>This is a tutorial demostrating how to make simple graphs with <a href="https://chartscss.org/">chart.css</a>.</p>
<p>Vist <a href="/graphs/">graphs</a> to see the result.</p>
