---
layout: layouts/base.njk
title: Home page
---

<p>This is a boring home page. I want to demonstate creating a collection from a RSS Feed and using it in a page.</p>
<p>Vist the <a href="other-writing/">other writing</a> page to see an example</p>
