---
layout: base_layout.njk
title: Home page
description: "This is a boring home page. We just want to demonstate the creating a page based on data fetched from an API."
---

<h1>{{ title }}</h1>
<p>Visit the <a href="projects/">projects</a> page to see some projects hosted on GitHub. The page is created from data files. Some data is fetched using the GitHub API.</p>
