:root {
  --color-text: hsl(226deg 30% 95%);
  --color-border: hsl(226deg 10% 40%);
  --color-background: hsl(226, 30%, 20%); /* hsl(193, 80%, 10%); */

  --font-size-xs: 0.8em;
  --font-size-s: 0.9em;
  --font-size-m: 1.2em;
  --font-size-l: 1.44em;
  --font-size-xl: 1.728em;
  --font-size-xxl: 2.074em;
  --font-size-xxxl: 2.488em;

  --spacing-none: 0;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

p {
  margin-block-end: var(--spacing-l);
}

#maincontent {
  max-width: 800px;
  min-height: 80vh;

  margin: var(--spacing-xxl) auto;
  padding-inline: var(--spacing-s);
}

a {
  color: hsl(224, 80%, 70%);

  text-underline-offset: 0.25rem;
}

.projects a {
  display: inline-block;
  width: 100%;
  height: min-content;
  padding: var(--spacing-l) var(--spacing-s);
  border: 1px solid var(--color-border);
  border-radius: 4px;

  color: var(--text-color);

  margin-block-end: var(--spacing-xl);
  text-decoration: none;
}

.project {
  border-radius: 10px;

  h3 {
    margin: 0;
    margin-block-end: var(--spacing-l);
    font-size: var(--font-size-l);
  }

  p {
    margin-block-end: var(--spacing-l);
  }

  /* circle marker */
  .language::before {
    content: "";

    display: inline-block;
    width: 0.5em;
    margin: 0.1em 0;
    margin-inline-end: 0.4em;
    aspect-ratio: 1/1;

    background-color: var(--text-color);

    border-radius: 50%;

    vertical-align: baseline;
  }

  .language.repo-html::before {
    background-color: hsl(12deg 77% 52%);
  }

  .language.repo-javascript::before {
    background-color: hsl(53deg 84% 65%);
  }

  .language.repo-shell::before {
    background-color: hsl(97deg 70% 60%);
  }

  .language.repo-svelte::before {
    background-color: rgb(255, 62, 0);
  }

  .stars {
    svg {
      width: 1.1em;
      aspect-ratio: 1 / 1;
      fill: var(--color-text);
      vertical-align: text-bottom;
    }

    .count {
      font-size: var(--font-size-s);
    }
  }
}
