---
layout: layouts/base.njk
title: Home page
description: "This is a boring home page. I want to demonstate creating a blog grouped by year."
---

<p>{{ description }}</p>
<p>You can see the blog with posts grouped by year and ordered by:</p>
<ul>
	<li><a href="blog-asc/">ascending years (oldest to newest)</a></li>
	<li><a href="blog-desc/">descending years (newest to oldest)</a></li>
</ul>
