<head>
	{% if production %}
		<link
    rel="icon" href="/img/favicon.svg" type="image/svg+xml" sizes="any"/> 
	{% else %}
		<link
    rel="icon" href="/img/favicon-dev.svg" type="image/svg+xml" sizes="any"/> 
	{% endif %}
	<meta charset="utf-8">
	<meta name="description" content="{{ description }}"/>
	<meta name="author" content="Rob O'Leary"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Home</title>
</head>

